.container {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.content-section {
    margin: 1em;
}

.registraition-panel {
    margin: auto;
    display: block;
    width: 500px;

}




/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
    border-radius: 25px;
    border: 4px solid #75663e;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #75663e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border-radius: 25px;
    border: 4px solid #75663e;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}
/* Set a grey background color and center the text of the "sign in" section */
.signin {
    text-align: center;
}
