.settings {
    display: flex;
}

.settingsWrapper {
    flex: 9;
    padding: 20px;
}

.settingsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settingsUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: coral;
}

.settingsDeleteTitle {
    font-size: 12px;
    cursor: pointer;
    color: red;
}

.settingsForm {
    display: flex;
    flex-direction: column;
}

.settingsProfilePicture {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settingsProfilePicture > img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}

.settingsProfilePictureIcon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.settingsForm > input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    color: gray;
}

.settingsSubmit {
     width: 150px;
     align-self: center;
     border: none;
     border-radius: 10px;
     color: white;
     background-color: lightseagreen;
     padding: 10px;
     margin-top: 20px;
     cursor: pointer;
}