
.main-header {
    background: #75663e;
    border-radius: 25px;
    margin-top: 10px;
    padding: 10px;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    align-items: center;

}

.main-nav li {
    padding: 0 1%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1.6em;
    color: white;
    text-decoration: none;
}

.dropbtn {
    background-color: #3498db00;
    color: white;
    padding: 28px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: rgba(255, 255, 255, .3);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    transform: translate(-50%, -0);
    left: 50%;
    align-items: center;

    background-color: #f1f1f1;
    width: max-content;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}